@import "tailwindcss";
@import 'splitting/dist/splitting.css';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');



@keyframes whatsapp-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px); 
    }
  }
  
  .animate-whatsapp-bounce {
    animation: whatsapp-bounce 2s infinite ease-in-out; 
  }
  
  
  
    @keyframes floating {
      0%   { transform: translateY(0); }
      50%  { transform: translateY(-6px); }
      100% { transform: translateY(0); }
    }
  
    .float-btn {
      animation: floating 1.6s ease-in-out infinite;
    }
  